// Colors

@mixin gradient($color1,$color2,$direction) { // vertical or horizontal
	background-color: $color1;
	@include filter-gradient($color1, $color2, $direction);
	@include background-image(linear-gradient(top, $color1 0%, $color2 100%));
}

// Animation

@mixin animate($animate-time) {
	-webkit-transition:$animate-time;
	transition:$animate-time;
}

$time: 0.3s;

// Typography

%nobullets {
	list-style:none;
	padding-left:0;
}

a:focus {	// Bootstrap Override
	outline-width:0 !important;
}

// Layout

body {
	color:$gray;
}

img {
	max-width:100%;
}


#sb-site {
	text-align:center;
	h1 {
		strong {
			text-shadow: 3px 3px 2px rgba(0, 0, 0, 1);
		}
	}
	.button {
		font-size:40pt;
		background-color:$gray;
		color:darken($gray,70%);
		width:75px;
		height:75px;
		margin:50px auto;
		border-radius:10px;
		cursor:pointer;
		-webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.55);
		-moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.55);
		box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.55);
		@include animate($time);
		@media (max-width:767px) {
			font-size:30pt;
			width:50px;
			height:50px;
			margin:15px auto;
			line-height:50px;
		}
	}
	.sb-active-control {
		background-color:$gold;
	}
	.links {
		margin-top:200px;
		padding-bottom:100px;
		a {
			background-color:$gold;
			color:darken($gray,70%);
			padding:5px 10px;
			border-radius:5px;
			margin:0 10px;
			@include animate($time);
			&:hover {
				background-color:lighten($gold,8%);
			}
		}
		@media (max-width:767px) {
			margin-top:100px;
			padding-bottom:40px;
			a {
				display:block;
				width:200px;
				margin:20px auto;
			}
		}
	}
}

h1 {
	font-size:84pt;
	margin-top:200px;
	@media (max-width:767px) {
		margin-top:80px;
		font-size:36pt;
	}
}

p {
	font-size:16pt;
}

a {
	font-weight:bold;
}

header {
	background-color:darken($gray,71%);
	text-align:right;
	padding:8px 15px;
	i {
		color:$gold;
	}
	.navbutton {
		padding:3px 5px;
		border-color:$gold;
		border-style:solid;
		border-width:1px;
		border-radius:5px;
		display:inline-block;
		@include animate($time);
		cursor:pointer;
	}
	.navbutton.sb-active-control {
		border-color:lighten($gray,5%);
		i {
			color:$darkgray;
		}
	}
}

.sb-active-control {
	background-color:lighten($gray,5%);
}

.sb-right {
	ul {
		@extend %nobullets;
	}
}

.sb-left {
	.sb-swap-panel {
		padding:20px;
	}
}